{% extends 'base.html.twig' %}

{% block title %}Editer un produit{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Editer le bien</h1>
        {{ include('admin/_form.html.twig', {button: 'Editer'}) }}
    </div>
{% endblock %}
