{% extends 'base.html.twig' %}

{% block title 'Tous les produits' %}

{% block body %}
    <div class="container mt-4 text-center">
        <h1>Voir tous les produits</h1>
        <div class="row">
            {% for article in articles %}
                <div class="col-md-4">
                    {% include 'article/_article.html.twig' %}
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            {{ knp_pagination_render(articles) }}
        </div>
    </div>
{% endblock %}
